<header>
  <h1>Bienvenido a Grupo2</h1>
  <h2>¡El lugar perfecto para tus celebraciones!</h2>
</header>

<section class="hero-image">
  <img src="assets/evento1.png" alt="Evento" />

</section>

<section class="benefits">
  <h3>¿Por qué elegirnos?</h3>
  <ul>
    <li>Espacios adaptables para todo tipo de eventos.</li>
    <li>Servicios completos: catering, decoración y tecnología.</li>
    <li>Atención personalizada y equipo profesional.</li>
  </ul>
</section>

<section class="booking-form">
  <h3>Haz tu Reserva</h3>
  <form #bookingForm="ngForm" (ngSubmit)="submitForm(bookingForm)">
    
  
    <!-- Campo de Tipo de Evento -->
      <label for="name">Event Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        required
        [(ngModel)]="event.name"
        name="name"
        #name="ngModel"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        Event name is required.
      </div>

        <label for="location">Location</label>
        <input
          type="text"
          id="location"
          class="form-control"
          required
          [(ngModel)]="event.location"
          name="location"
          #location="ngModel"
        />
        <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger">
          Location is required.
        </div>

      <!-- Campo de Fecha -->
        <label for="date">Date</label>
        <input
          type="date"
          id="date"
          class="form-control"
          required
          [(ngModel)]="event.date"
          name="date"
          #date="ngModel"
        />
        <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
          Date is required.
        </div>
  
    
    <button type="submit" class="btn btn-primary" [disabled]="bookingForm.invalid" (click)="goToEvents()">¡Reserva Ahora!</button>
  </form>
  
</section>

<section class="testimonials">
  <h3>Lo que dicen nuestros clientes</h3>
  <blockquote>
    "El mejor lugar para nuestra boda, todo salió perfecto!"
    <cite>- Ana y Luis</cite>
  </blockquote>
</section>

<footer>
  <p>Contáctanos: 123-456-7890 | infocentrodeeventos.com</p>
  <p>Síguenos en redes sociales: [iconos de redes sociales]</p>
</footer>
