<h1 mat-dialog-title>
  {{ data.action === 'edit' ? 'Editar Evento' : (data.action === 'add' ? 'Agregar Evento' : 'Eliminar Evento') }}
</h1>

<div mat-dialog-content>
  <!-- Formulario para Editar o Agregar un Evento -->
  <ng-container *ngIf="data.action === 'edit' || data.action === 'add'">
    <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Nombre" [(ngModel)]="event.name" name="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ubicación" [(ngModel)]="event.location" name="location" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha" [(ngModel)]="event.date" name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Botón de Guardar dentro del formulario -->
      <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cerrar</button>
        <button mat-button type="submit">Guardar</button>
      </div>
    </form>
  </ng-container>

  <!-- Mensaje de Confirmación para Eliminar un Evento -->
  <ng-container *ngIf="data.action === 'delete'">
    <p>¿Estás seguro de que deseas eliminar este evento?</p>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cerrar</button>
      <button mat-button [mat-dialog-close]="true">Confirmar</button>
    </div>
  </ng-container>
</div>
